#container {
	width: 606px;
	margin: 0 auto;
/*	border: 1px solid #aaa;*/
}

h1 {
	text-align: center;
	font-family: georgia;
	color: #422;
}

section div {
	width: 200px;
	float: left;
	height: 200px;
	border: 1px solid #ccc;
}